.section-divider {
	color: rgba(black, .73);
	transition: color $fast-time linear;
    .icon-element, .fa, [class="seicon-*"]{
        font-size: .9em;
    }
	.section-divider-header {
		display: flex;
		align-items: center;
		font-size: 16px;
		font-weight: bold;
        margin-bottom: 24px;
		.icon-element {
			display: inline-block;
			transition: transform $fast-time linear;
		}
		.section-divider-title {
			cursor: pointer;
            white-space: nowrap;
			transition: color $fast-time linear;
			&:hover {
				color: $net-blue;
			}
		}
		hr {
			margin-left: baseH(1);
			width: 100%;
			border: none;
			border-top: solid 1px $border-grey;
		}
	}
	.section-divider-content {
		overflow: hidden;
		display: none;
        margin-bottom: 24px;
	}
	&.is-active {
		.icon-element {
			transform: rotate(90deg);
		}
	}
    &.section-divider-comum{
        .section-divider-header{
            pointer-events: none;
        }
     }
}


/*

<div class="ui-divider">
    <p>Recursos alocados</p>
    <hr>
</div>

*/

// <div class="section-divider is-active">
//     <div class="section-divider-header">
//         <div class="section-divider-title">
//             <div class="icon-element">
//                 <i class="fa fa-caret-right" aria-hidden="true"></i>
//             </div>
//             <span>Section</span>
//         </div>
//         <hr>
//     </div>
//     <div class="section-divider-content">
//         <div class="ui-toggle-group">
//             <div class="ui-toggle">
//                 <input type="checkbox" class="toggle-bullet" name="toggle1" id="toggle1" />
//                 <label for="toggle1">
//                   <span class="capsule">
//                     <span></span>
//                   </span>
//                   Alert the administrator when any unknown login is identified
//                 </label>
//             </div>
//             <div class="ui-toggle">
//                 <input type="checkbox" class="toggle-bullet" name="toggle2" id="toggle2" checked/>
//                 <label for="toggle2">
//                   <span class="capsule">
//                     <span></span>
//                   </span>
//                   Block password change for users with simultaneous logins
//                 </label>
//             </div>
//             <div class="ui-toggle">
//                 <input type="checkbox" class="toggle-bullet" name="toggle3" id="toggle3" disabled/>
//                 <label for="toggle3">
//                   <span class="capsule">
//                     <span></span>
//                   </span>
//                   Block users creation
//                 </label>
//             </div>
//             <div class="ui-toggle">
//                 <input type="checkbox" class="toggle-bullet" name="toggle4" id="toggle4" checked/>
//                 <label for="toggle4">
//                   <span class="capsule">
//                     <span></span>
//                   </span>
//                   Display user data when he fills out login
//                 </label>
//             </div>
//         </div>
//     </div>
// </div>


// const sectionDivider = $(".section-divider");
// const sectionDividerActive = $(".section-divider.is-active");
//
// sectionDivider.on("click", ".section-divider-title", function(e) {
// 	$(this)
// 		.closest(".section-divider")
// 		.toggleClass('is-active')
// 		.find('.section-divider-content')
// 		.slideToggle('fast');
// });
// sectionDividerActive.find('.section-divider-content').show(); // verifica uma unica vez para os itens que devem estar abertos por default
