

$base-vertical: $padding-base-vertical;
$base-horizontal: $padding-base-horizontal;

@function baseH($baseMultiple) {
	@return $base-horizontal * $baseMultiple;
}
@function baseV($baseMultiple) {
	@return $base-vertical * $baseMultiple;
}
@function base($baseMultiple) {
	@return $base * $baseMultiple;
}

@function ease() {
	@return ease-in-out;
}


@mixin lineh($val) {
	line-height: $val;
}
.lineh-space{
	@include lineh(1.3);
}
.full{
	width: 100%;
}
.pointer-none{
	pointer-events: none;
}
.is-disable {
	opacity: 0.5;
	pointer-events: none;
}
.tac{
	text-align: center;
}
.flex-container{
	display: flex;
}
.icon-element {
	display: inline-block;
	font-size: 1em;
	color: inherit;
}
.custom-scrollbar{
	overflow-y: auto;
	&::-webkit-scrollbar {
	    width: 4px;
	}

	&::-webkit-scrollbar-track {
		background: rgba(black, .1);
	}

	&::-webkit-scrollbar-thumb {
	    border-radius: 4px;
		background: rgba(black, .2);
	}
}
.bold{
	font-weight: bold;
}

img.img-rounded{
	border-radius: 50%;
}
img.img-border{
	border: solid 1px #95989A;
}
img.img-small{
	width: 16px;
	height: 16px;
}

[class^="seicon-"]:before{
	margin: 0; // reseta margin default
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
